/* HEADER */
.not-found-page {
    margin: auto 2em;
}
.not-found-page header {
  display: flex;
  align-items: center;
  margin-bottom: 6em;
}
.not-found-page.small header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin: auto auto 6em auto;
}
.not-found-page header img {
  width: 40%;
}
.not-found-page.small header img {
  width: 60%;
}
.not-found-page h1 {
  font-size: 5em;
  color: var(--red);
  margin: 0 auto;
}
.not-found-page h2 {
  font-weight: normal;
}
.not-found-page h3 {
  color: var(--red);
  font-size: 2em;
}

/* LINKS */
.not-found-page section div.flex {
    display: flex;
    justify-content: space-between;
}
.not-found-page section div.flex div {
    margin: 1em;
    width: 100%;
}
.not-found-page a {
    display: block;
    color: var(--red);
}