/* PAGE SETUP */
.page {
  margin: 2em;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 12em);

  text-align: left;
}
.max-width-page-boundary {
  max-width: 1115px;
  margin: auto;
}

.page-wide {
  margin: 2em 4em;
}

.content {
  width: 100%;
  height: 100%;
  flex: 1;
  margin: 2em auto;
}

.footer {
  width: 12em;
  text-align: center;
  margin: auto;
}
.footer img {
  width: 3em;
  border-radius: 50%;
  margin: auto;
  text-align: center;
}
.page-button {
  /* background-color: var(--white); */
  display: block;
  width: auto;
  line-height: 0;

  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
}
.page-button svg {
  background-color: var(--white);
  border-radius: 0.2em;
}

.top-right {
  right: 0;
  left: auto;
}

.in-page-btn {
  text-align: left;
  margin: 0 -1.5em;
}

button,
.button {
  outline: none;
  border: none;
  background: none;
  opacity: 1;

  font-size: 1em;
  padding: 1.5em;
}

button:hover,
.button:hover {
  opacity: 0.6;
}

/* NAVIGATION */
.navigation-big {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-big a,
.nav-small-content a,
.nav-small-content p {
  text-decoration: none;
  color: var(--black);
}
.many-links-row a {
  margin-left: 1.5em;
}
.navigation-big a:hover,
.nav-small-content a:hover,
.nav-small-content p:hover {
  text-decoration: underline;
}

.nav-small {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  background-color: #f2f3f4f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-small-content a,
.nav-small-content p {
  font-size: 1.5em;
  display: block;
  text-align: center;
  margin: 2em auto;
}

/* DEMO BOX */
.demo-box {
  max-width: 400px;
  margin: auto;
  text-align: center;
  display: inline-block;
}

.demo-box img {
  width: 100%;
  border-radius: 1.25em;
  pointer-events: none;
  user-select: none;
}

.demo-box:hover img {
  filter: brightness(0.7);
}

.demo-box h3 {
  font-weight: normal;
}

/* TITLE BLOCK */
h1.homepage {
  font-size: 6em;
}
h2.homepage {
  font-weight: normal;
  font-size: 2em;
  margin-top: -2em;
}

h1.homepage-mobile {
  font-size: 18vw;
}
h2.homepage-mobile {
  font-weight: normal;
  font-size: 1.75em;
  margin-top: -10vw;
}
header.homepage {
  background: linear-gradient(
    to right,
    var(--white),
    #f2f3f400
  ); /* white to white with 0 opacity */
}
